doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Parlec Parts Resources
    meta(name="description", content="Parlec Parts Resources")
    include _head.jade

  body#parts-search
    a(href="#main").visuallyhidden Skip to main content
    .container
      header.header
        .row
          .columns.small-5
            h1.h1
              a(href="/") Parlec Parts Resources
          .columns.small-7
            button#login-btn.login-btn.right Login
      main#main.main
        //- .row
        div
          .left-sidebar.columns.medium-3.padding
            .row
              .columns
                p
                  strong Find Your Part
                ul#filters-list.filters-list
                  li
                    label
                      strong Product Solution
                      select#product-solution(name="product-solution", placeholder="test", disabled)
                        option(value="", disabled, selected) Select your option
                  li
                    label
                      strong System
                      select#system(name="system", disabled)
                        option(value="", disabled, selected) Select your option
                        option(value="1") one
                        option(value="2") two
                        option(value="3") three
                  li
                    label
                      strong Taper Type
                      select#taper-type(name="taper-type", disabled)
                        option(value="", disabled, selected) Select your option
                        option(value="1") one
                        option(value="2") two
                        option(value="3") three
                  li
                    label
                      strong Part Number
                      select#part-number-select(name="part-number", disabled)
                        option(value="", disabled, selected) Select your option
                        option(value="1") one
                        option(value="2") two
                        option(value="3") three
                a(href="#results").button.tiny.radius.right Search
            hr
            .row
              .columns
                p
                  strong Know your Part #?
                input#part-number(type="text", placeholder="Example: H100-16ERP406", disabled)
                button.tiny.radius.right Search
            footer.footer
              p Copyright 2015 &copy; Parlec Inc.

          #results.right-side-content.columns.medium-9.off-white-bg.padding
            .intro-screen
              .row
                .columns.small-centered.small-10.medium-6
                  h2 Find the templates and files you need.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo deleniti adipisci optio esse repellendus ut quibusdam impedit nam amet sapiente quaerat dolor earum culpa, et quod fugiat, quisquam minus! Architecto!
                  .row
                    .columns
                      button.tiny.radius.left Login
                      button.tiny.radius.right Register

            //- //- sample markup
            //- .product-screen
              .row
                .columns.small-centered.small-12.medium-10
                  h2.product-title B40-11ERF400
                  a(href="#", data-part-number="B40-11ERF400")#add-to-library.add-to-library Add to Library +
                  ul.tabs(data-tab)
                    li.tab-title.active
                      a(href="#description") Description
                    li.tab-title
                      a(href="#image") Image
                  .row
                    .columns.medium-8
                      .tabs-content
                        #description.content.active
                          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nam dolor, voluptatibus at suscipit. Minima ducimus atque porro voluptatum suscipit deleniti nostrum quas. Quae omnis illo unde amet architecto eligendi.
                          table
                            tr
                              th One
                              th Two
                              th Three
                              th Four
                            tr
                              td Lorem
                              td ipsum
                              td dolor
                              td sit
                            tr
                              td Amet
                              td Consectetur
                              td Adipisicing
                              td Elit
                            tr
                              td Voluptate
                              td Suscipit
                              td Distinctio
                              td Sunt

                        #image.content
                          img(src="images/product-image-1.jpg", alt="")

                    .columns.medium-4
                      h3 Available Files:
                      hr
                      ul.file-types-list
                        li
                          label
                            input(type="checkbox", value="dxf")
                            span DXF
                        li
                          label
                            input(type="checkbox", value="stp")
                            span STP
                        li
                          label
                            input(type="checkbox", value="pdf")
                            span PDF
                      ul.small-block-grid-2
                        li
                          a(href="#").button.tiny Download
                        li
                          a(href="#").button.tiny Email Link

    .joyride-container
      ol.joyride-list(data-joyride)
        li(data-id="product-solution", data-button="Okay", data-options="tip_location: right; prev_button: false")
          p Start here!


    include _scripts.jade
    //- handlebar templates
    script#option-tpl(type="text/x-handlebars-template").
      <option value="" disabled selected>Select your option</option>
      {{#if options}}
      {{#each options}}
      <option data-index="{{@index}}" value="{{name}}">{{name}}</option>
      {{/each}}
      {{else}}
      <option value="">&nbsp;</option>
      {{/if}}

    script#results-tpl(type="text/x-handlebars-template").
      <div class="product-screen">
        <div class="row">
          <div class="columns small-centered small-12 medium-10">
            <h2 class="product-title">{{data.part_number}}</h2>
            <a href="#" id="add-to-library" class="add-to-library" data-part-number="{{data.part_number}}">Add to Library +</a>
            <ul data-tab class="tabs">
              <li class="tab-title"><a href="#description">Description</a></li>
              <li class="tab-title active"><a href="#image">Image</a></li>
            </ul>
            <div class="row">
              <div class="columns medium-8">
                <div class="tabs-content">
                  <div id="description" class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nam dolor, voluptatibus at suscipit. Minima ducimus atque porro voluptatum suscipit deleniti nostrum quas. Quae omnis illo unde amet architecto eligendi.</p>
                    <table>
                      <tr>
                        <th>One</th>
                        <th>Two</th>
                        <th>Three</th>
                        <th>Four</th>
                      </tr>
                      <tr>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                      </tr>
                      <tr>
                        <td>Amet</td>
                        <td>Consectetur</td>
                        <td>Adipisicing</td>
                        <td>Elit</td>
                      </tr>
                      <tr>
                        <td>Voluptate</td>
                        <td>Suscipit</td>
                        <td>Distinctio</td>
                        <td>Sunt</td>
                      </tr>
                    </table>
                  </div>
                  <div id="image" class="content active">
                    <img src="{{data.image}}" alt="">
                  </div>
                </div>
              </div>
              <div class="columns medium-4">
                <h3>Available Files:</h3>
                <hr>
                <ul class="file-types-list">
                  <li>
                    <label>
                      <input type="checkbox" value="dxf"><span>DXF</span>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" value="stp"><span>STP</span>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" value="pdf"><span>PDF</span>
                    </label>
                  </li>
                </ul>
                <ul class="small-block-grid-2">
                  <li><a href="#" class="button tiny">Download</a></li>
                  <li><a href="#" class="button tiny">Email Link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    //- script#old-table-tpl(type="text/x-handlebars-template").
      <p class="parts-name">{{data.name}}</p>
      <table class="results-table">
        <caption>Click on a part to view more information</caption>
        <tr>
          <th>Part Number<br/>with Thru Coolant</th>
          <th>Part Number<br/>with AD/B Coolant</th>
          <th>B</th>
          <th>C</th>
          <th>Socket Depth</th>
          <th>Collet Nut (incl.)</th>
          <th>Nut Torque</th>
          <th>B/u Screw Left Hand</th>
        </tr>

        <tr>
          {{#if data.part_number_with_thru_coolant}}
          <td class="alt">{{data.part_number_with_thru_coolant}}</td>
          {{else}} <td class="alt">&mdash;</td>
          {{/if}}

          {{#if data.part_number_with_ADB_coolant}}
          <td>{{data.part_number_with_ADB_coolant}}</td>
          {{else}} <td>&mdash;</td>
          {{/if}}

          {{#if data.B}}
          <td class="alt">{{data.B}}</td>
          {{else}} <td class="alt">&mdash;</td>
          {{/if}}

          {{#if data.C}}
          <td>{{data.C}}</td>
          {{else}} <td>&mdash;</td>
          {{/if}}

          {{#if data.socket_depth}}
          <td class="alt">{{data.socket_depth}}</td>
          {{else}} <td class="alt">&mdash;</td>
          {{/if}}

          {{#if data.collet_nut}}
          <td>{{data.collet_nut}}</td>
          {{else}} <td>&mdash;</td>
          {{/if}}

          {{#if data.nut_torque}}
          <td class="alt">{{data.nut_torque}}</td>
          {{else}} <td class="alt">&mdash;</td>
          {{/if}}

          {{#if data.BU_screw_left_hand}}
          <td>{{data.BU_screw_left_hand}}</td>
          {{else}} <td>&mdash;</td>
          {{/if}}

        </tr>
      </table>
